/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

html {
  font-family: 'Lato', sans-serif; }

h1 {
  font-family: 'Pacifico', cursive; }

#header {
  background: #41c0ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #41c0ff 0%, #4090ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #41c0ff 0%, #4090ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #41c0ff 0%, #4090ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41c0ff', endColorstr='#4090ff',GradientType=0 );
  /* IE6-9 */
  box-shadow: inset 0 0 26px #3c84eb;
  height: 224px;
  padding-top: 200px; }
  #header span {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 48px;
    margin-top: -32px;
    padding-left: 12px;
    box-sizing: border-box; }
  #header h1 {
    text-align: center;
    font-size: 3em;
    color: #fefefe;
    font-size: 72px;
    background: -webkit-linear-gradient(#fff, #f9f9f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-transform: rotate(-5deg);
    /* IE 9 */
    -webkit-transform: rotate(-5deg);
    /* Safari */
    transform: rotate(-5deg); }
  #header p {
    text-align: center;
    color: #f9f9f9;
    text-shadow: 0px 0px 2px #3c84eb;
    margin-top: 29px;
    font-size: 18.4px; }
    #header p a {
      color: #f9f9f9; }

#deploy {
  margin-top: -23px;
  width: 215.906px;
  margin: -23px auto 0 auto; }
  #deploy img {
    height: 47px;
    width: auto;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    transition: all 0.2s ease-in-out; }
    #deploy img:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
